doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous")
    script(defer src="./index.js") 
    link(rel="stylesheet", href="./index.css")
    title 紙雕
    link(link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Caveat:wght@400;500;600;700&family=Jost:ital,wght@0,200;0,700;1,300;1,500&family=Klee+One&family=Lexend:wght@100&family=Ma+Shan+Zheng&family=Mochiy+Pop+P+One&family=Mooli&family=Reggae+One&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js")

  body 

  main.pic-box
    .pic-out 
      .pic-inner
        .index-text.font 
          p 紙
          p 雕
        .text-out 
          .text-img
            img(src="./img/text-bgimg1.png", alt="")
          .text-img
            img(src="./img/text-bgimg2.png", alt="")
        .scroll-down
          p scroll
          p ＜
      .pic
        .mountain
          img(src="./img/1.png", alt="")
        .mountain 
          img(src="./img/2.png", alt="")
        .mountain
          img(src="./img/3.png", alt="")
        .mountain
          img(src="./img/4.png", alt="")
        .mountain
          img(src="./img/5.png", alt="")
        .mountain
          img(src="./img/6.png", alt="")
        .mountain
          img(src="./img/7.png", alt="")
        .mountain
          img(src="./img/8.png", alt="")
        .mountain
          img(src="./img/9.png", alt="")
        .mountain
          img(src="./img/10.jpg", alt="")
    .introduce-area
      .bgimg
        img(src="./img/bgc1.png", alt="")
      .text
        .int-left 
          .int-top.font1 
            p 紙雕藝術家
          .int-title.font2
            p 濃厚家鄉情懷 人文風格的創作取向
          .int-text.font3
            p &emsp;&emsp;吳靜芳的紙雕作品很多都以故鄉嘉義作為藍圖，畫出自己童年的回憶和經歷，《十五暝》、《月亮出來了》等等都是代表作，刻畫熟悉的日式建築和人物，用懷舊褐色調充斥畫面，她的作品風格相較於他人，獨樹一幟、充滿濃厚的家鄉氣息。
        .int-right 
          .i-box
            img(src="./img/gallery1.jpg", alt="") 
            p 作品《月亮出來了》代表作，刻畫熟悉的日式建築和人物，用懷舊褐色調充斥畫面，她的作品風格相較於他人，獨樹一幟、充滿濃厚的家鄉氣息。
          .i-box
            img(src="./img/gallery2.jpg", alt="")
            p 作品《落雨無聲》前方撐著傘，在暗處中快出鏡的人是以前的她，對未來充滿疑惑與不確定感，種種困境使她用暗處撐傘的人代表自己，而場景雖是黑夜又是雨天，但裁縫店中那一盞燈卻點亮了整個畫面。
    .three-area 
      .three-bg
        .three-house
          img(src="./img/3box1.png", alt="")
        .three-house
          img(src="./img/3box2.png", alt="")
        .three-house
          img(src="./img/3box3.png", alt="")
        .three-house
          img(src="./img/3box4.png", alt="")
    .end-area 
      .end-box
        img(src="./img/endbgimg.png", alt="")
      .end-left 
        .left-box 
          img(src="./img/end1.jpg", alt="")
      .end-right
        .end-text.font1
          p  自然神性為靈感的紙雕
        .end-text.font3
          p &emsp;&emsp;在一張張的白紙上細細雕出輪廓，層層疊起一座精巧迷人的掌上城市與森林，日本藝術家柴田あゆみ（Ayumi Shibata）用紙雕微觀人類生活的世界；她只運用純白色的紙，偶爾配上暖黃色的光線，來捕捉存在於自然與世界裡的神性，探討人類與環境之間微妙的聯繫。
      .poj-show 
